.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}



body {
  background-color: #FFC652;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #EEEEEE;
  font-size: 5rem;
  color: #83AE84;
}

p {
  font-size: 2rem;
  color: #83AE84;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}


.reset
{
  margin-top: 2rem;
  text-align: center;
  align-items: center;
}

button {
  padding: 10px;
  border-color: none;
  background-color:#83AE84;
  color: white;
  font-family:  'Indie Flower', cursive; ;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 2px solid white;
  box-shadow: 0 0.3rem 0.5rem rgb(0, 0, 0, .5);
  transition: .25s;
}

.reset :hover
{
  font-size: 1.75rem;
}


footer {
  margin-top: 3rem;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.website {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: .25s;
}

footer .website:hover
{
  font-size: 1.5rem;
  letter-spacing: 1rem;
  transition: .25s;
}