.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #333;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 2px 2px #ffffff;
  font-size: 5rem;
  color: #16b9d6;
}

p {
  font-size: 2rem;
  color: #16b9d6;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}


.reset
{
  margin-top: 2rem;
  text-align: center;
  align-items: center;
}

button {
  padding: 10px;
  border-color: none;
  background-color:#16b9d6;
  color: white;
  font-family:  'Indie Flower', cursive; ;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 2px solid white;
  /* box-shadow: 0 0.3rem 0.5rem rgb(0, 0, 0, .5); */
  transition: .25s;
}

.reset :hover
{
  letter-spacing: .2rem;
}


footer {
  margin-top: 3rem;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.website {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: .25s;
}

footer .website:hover
{
    letter-spacing: .25rem;
  transition: .25s;
}